# Fire up GraphLab Create

We always start with this line before using any part of GraphLab Create. It can take up to 30 seconds to load the GraphLab library - be patient!

The first time you use GraphLab create, you must enter a product key to license the software for non-commerical academic use. To register for a free one-year academic license and obtain your key, go to [dato.com](https://dato.com/download/academic.html).

In [10]:
import graphlab
# Set product key on this computer. After running this cell, you will not need to re-enter your product key. 
graphlab.product_key.set_product_key('8463-CC2F-D240-2DE3-2AD4-8285-FBEF-DDCD')

# Limit number of worker processes. This preserves system memory, which prevents hosted notebooks from crashing.
graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 4)

# Output active product key.
graphlab.product_key.get_product_key()

'8463-CC2F-D240-2DE3-2AD4-8285-FBEF-DDCD'

# Load a tabular data set

In [11]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /home/xuan/Desktop/ML-1/Week-1/people-example.csv

Parsing completed. Parsed 7 lines in 0.071885 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/xuan/Desktop/ML-1/Week-1/people-example.csv

Parsing completed. Parsed 7 lines in 0.060315 secs.

# SFrame basics

In [8]:
sf # we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
sf.tail()  # view end of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [ ]:
# .show() visualizes any data structure in GraphLab Create
# If you want Canvas visualization to show up on this notebook, 
# add this line:
graphlab.canvas.set_target('ipynb')

In [2]:
sf['age'].show(view='Categorical')

NameError: name 'sf' is not defined

# Inspect columns of dataset

In [3]:
sf['Country']

NameError: name 'sf' is not defined

In [ ]:
sf['age']

Some simple columnar operations

In [ ]:
sf['age'].mean()

In [ ]:
sf['age'].max()

# Create new columns in our SFrame

In [ ]:
sf

In [ ]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [ ]:
sf

In [ ]:
sf['age'] * sf['age']

# Use the apply function to do a advance transformation of our data

In [ ]:
sf['Country']

In [ ]:
sf['Country'].show()

In [ ]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [ ]:
transform_country('Brazil')

In [ ]:
transform_country('Brasil')

In [ ]:
transform_country('USA')

In [ ]:
sf['Country'].apply(transform_country)

In [ ]:
sf['Country'] = sf['Country'].apply(transform_country)

In [ ]:
sf